@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  /* -------------------- Header -------------------- */

  .contacts {
    flex-direction: row;
    gap: 40px;
    padding-top: 0;
  }
  .contacts .email {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }
  .contacts .phone {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }
  /* ---------------------- Hero ---------------------- */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-img {
    height: 600px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/people-office-2x.jpg');
    }
  }
  /*-------------- Features ---------------*/
  .features {
    flex-wrap: nowrap;
  }
  .feature-title {
    font-weight: 500;
    font-size: 20px;
  }
  .feature-text {
    width: 264px;
    font-weight: 400;
  }
  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--light);
  }
  .svg-feature {
    fill: var(--dark);
  }
  /*------------  What we are doing ----------*/
  .work {
    padding-top: 0px;
    display: flex;
  }
  .work-list {
    display: flex;
    margin: 0;
    gap: 24px;
  }
  .work-title {
    margin-bottom: 72px;
    color: var(--dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
  }

  /* ---------------- Team ------------------ */
  .team-list {
    flex-wrap: nowrap;
  }
  /* --------------- Customers -------------- */
  .customers {
    flex-wrap: nowrap;
  }
  /*---------------- Footer -------------------*/
  .footer-container {
    flex-direction: row;
    gap: 80px;
  }
  .footer-info--wrap {
    gap: 120px;
  }
  .subscribe-wrap {
    flex-direction: column;
    gap: 16px;
  }
  .footer-text {
    margin-bottom: 0;
  }

  
}
